@use './variables.scss' as *;
@use './reset.scss' as *;
@use './public.scss' as *;
@use './naive-override.scss' as *;
@use './layouts/index.scss' as *;
@use './theme.css' as *;

body,
html {
  background-color: var(--bg-color-page);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

#app {
  width: 100%;
  height: 100%;
}

.app-root {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  transition: background-color 0.9s ease;
}

// 整站置灰模式
html.grayscale-mode {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

// View Transition API 样式
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}
